*.gz
*.log
*~
.DS_Store
.dirstamp
.gdb_history
.gdbinit
CMakeTests.txt
INSTALL
LICENSE.txt
Makefile
Makefile.in
NEWS
README
TAGS
TODO
aclocal.m4
autom4te.cache
build-formats.exe
bugs
compile
config.cache
config.log
config.status
configure
dmalloc*
git-version.h
gtk-doc.make
install-sh
libtool
mkinstalldirs
mkr_parser.c
mkr_parser.h
mkr_parser.output
not-used
old
raptor2.pc
raptor2.rdf
raptor2.spec
releases
run*
setup.sh
