.DS_Store
*~
*.gz
*.log
*.n3
*.nt
*.owl
*.rdf
*.rdfs
*.rss
.gdb_history
.gdbinit
INSTALL
LICENSE.txt
Makefile
Makefile.in
NEWS
README
TAGS
TODO
aclocal.m4
autom4te.cache
bugs
compile
config.cache
config.log
config.status
configure
dmalloc*
example?
gtk-doc.make
install-sh
libtool
mkinstalldirs
not-used
old
raptor-src-config
raptor.pc
raptor.rdf
raptor.spec
releases
run*
setup.sh
