*.gz
*.log
*~
.DS_Store
.dirstamp
.gdb_history
.gdbinit
CMakeTests.txt
INSTALL
LICENSE.txt
Makefile
Makefile.in
NEWS
README
TAGS
TODO
aclocal.m4
autom4te.cache
bugs
config.cache
config.log
config.status
configure
gtk-doc.make
libtool
not-used
old
raptor2.pc
raptor2.rdf
raptor2.spec
releases
run*
setup.sh
