*.bak
*.stamp
*.exe
.deps
.libs
build-format
html/
libraptor2.html
raptor-changes.xml
raptor-decl-list.txt
raptor-decl.txt
raptor-docs.sgml
raptor-undeclared.txt
raptor-undocumented.txt
raptor-unused.txt
raptor.args
raptor.hierarchy
raptor.interfaces
raptor.prerequisites
raptor.signals
rdfcat.c
rdfprint.c
rdfserialize.c
version.xml
xml/
