*.bak
*.stamp
*.exe
*.o
.deps
.libs
build-formats
html/
libraptor2.html
raptor-changes.xml
raptor2-decl-list.txt
raptor2-decl.txt
raptor-docs.sgml
raptor-fake.h
raptor-formats.xml
raptor2-undeclared.txt
raptor2-undocumented.txt
raptor2-unused.txt
raptor2.args
raptor2.hierarchy
raptor2.interfaces
raptor2.prerequisites
raptor2.signals
rdfcat.c
rdfprint.c
rdfserialize.c
version.xml
upgrade-script.pl
xml/
