*.gz
*.la
*.lo
*.log
*.n3
*.nt
*.o
*.owl
*.plist
*.rdf
*.rdfs
*.rss
*.trs
*test
*test.exe
.deps
.libs
TAGS
example?
git-version.h
parsedate.c
parsedate.c.bak
parsedate.h
parsedate.output
perl-turtle_lexer.c
perl-turtle_lexer.h
perl-turtle_lexer.t
perl-turtle_parser.c
perl-turtle_parser.c.bak
raptor-config
raptor2.h
raptor_config.h
raptor_config.h.in
stamp-h*
test*
turtle_lexer.c
turtle_lexer.h
turtle_parser.c
turtle_parser.c.bak
turtle_parser.h
turtle_parser.output
